.petCard {
  width: 100px;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.petCard > img {
  width: 90%;
  height: 90%;
  object-fit: cover;
}

.petContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
